
bgContain(n)
  background-repeat no-repeat
  background-size n

jp-width(n)
  width (n / 75)rem

jp-height(n)
  height (n / 75)rem
  line-height (n / 75)rem


jp-margin(n)
  margin (n / 75)rem
jp-margin4(t, r, b, l)
  margin (t / 75)rem (r / 75)rem (b / 75)rem (l / 75)rem
jp-margin2(a, t)
  margin (a / 75)rem (t / 75)rem

jp-padding(n)
  padding  (n / 75)rem
jp-padding4(t, r, b, l)
  padding (t / 75)rem (r / 75)rem (b / 75)rem (l / 75)rem
jp-padding2(a, t)
  padding (a / 75)rem (t / 75)rem

jp-font(f)
  font-size (f/75)rem

jp-flex(f)
  flex 0 0 (f/75)rem

jp-border1(n)
  border 1px solid n
jp-border-radius(n)
  -webkit-border-radius (n/75)rem
  -moz-border-radius (n/75)rem
  border-radius (n/75)rem
jp-box-shadow(a,b,c,d,rgbas)
  box-shadow: (a/75)rem (b/75)rem (c/75)rem (d/75)rem rgbas;

jp-right(n)
  right (n/75)rem
